<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "navigation.html" . }}
    <div class="container">
      <div class="centered-container">
        <h1>{{ .Title }}</h1>
        {{ .Content }}

        <ul>
          {{ range .Pages }}
          <li>
            <i class="fa fa-angle-right"></i>
            <a href="{{ .RelPermalink}}">{{ .Title }}</a>
          </li>
          {{ end}}
        </ul>
      </div>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
